html,
body {
  height: 100%;
  margin: 0;
  background: rgb(117, 126, 129);
  font-size: 1em;
}

#computer {
  font-size: 2em;
  z-index: 100;
}

.turn {
  font-size: 3em;
  z-index: 100;
}

#oplayer {
  width: 25px;
  height: 25px;
}

#game {
  position: fixed;
  width: 75vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sidebar {
  width: 50px;
  flex: 1;
  padding: 10px;

  /*align-self: flex-start; */
}

.center {
  flex: 2;
  width: 100%;
  padding: 10px;
}

.board-wrapper {
  perspective: 450px; /* lower more extreme*/
  transform-style: preserve-3d;
  border: 5px solid red;
}

.board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(3, 1fr); /* 3 equal rows */
  gap: 5px;
  width: min(70vw, 400px);
  height: 200px;
  transform: rotateX(50deg); /* Tilt the board backward */
  transform-origin: top center;
  box-shadow: 0px 5px 1px rgba(117, 116, 97, 0.5);
  border: 5px solid blue;
}

button {
  color: black;
  background-color: white;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0 !important;
  transition: 0.2s;
  box-shadow: 0px 5px 0px rgba(31, 31, 31, 0.75);
  -webkit-transition: background-color 2000ms;
  -ms-transition: background-color 2000ms;
  transition: background-color 2000ms;
}

button:hover {
  z-index: 15;
  box-shadow: 0px 10px 5px rgba(31, 31, 31, 1);
  transform: translate(0px, -5px);
}

button:active {
  transform: scale(105%);
  background-color: gold;
}

#reset {
  height: 95px;
  width: 190px;
  font-size: 1.5rem;
}

#resetHs {
  height: 50px;
  width: 190px;
  font-size: 1rem;
}

.square {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: monospace;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  transform: translateZ(20px);
  box-shadow: 0px 5px 0px rgba(31, 31, 31, 0.75);
}
